<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login with Spotify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Statspot</h1>
            <p>See personalized Spotify statistics, recommendations, playlists, and more!</p>
            {% if logged_in %}
                <a href="{{ url_for('dashboard') }}">Go to Dashboard</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login')}}">Click me</a>
                <!--<button id="loginBtn">Login with Spotify</button>-->
                <!--<button id="loginBtn" onclick="window.location.href='{{ url_for('login') }}'">Login with Spotify</button>-->
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>